body {color: #091e42;}
#showcase {
  background-image: url(../img/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-image: url(../img/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}